.second-page {
    background: url("../image/bg.png");
    width: 1440px;
    height: 794px;
    background-size: 1443px calc(100% + 94px);
    background-position-y: -60px ;
}

.header .logo1 {
    position: absolute;
    top:44px;
    left:72px;
}

.header .line {
position: absolute;
width: 313.35px;
left: 292px;
top: 70px;
opacity: 0.3;
border: 1px solid #FEFFD3;
}

.header .got_facts {
position: absolute;
left: 635px;
top: 60px;
font-size: 36px;
color: #FEFFD3;
}

.header .line1 {
position: absolute;
width: 410.15px;
left: 832px;
top: 70px;
opacity: 0.3;
border: 1px solid #FEFFD3;
}

.header .burger {
    position: absolute;
    right: 83px;
    top: 53px;
}

.header .description {
position: absolute;
width: 585.78px;
height: 56.71px;
left: 425.11px;
top: 117.56px;
font-size: 16px;
line-height: 156.23%;
text-align: center;
letter-spacing: 0.02em;
color: #B9BCC7;
}

.body .body_content .content {
    position: absolute;
}

.body .body_content .content:nth-child(1),
.body .body_content .content:nth-child(2),
.body .body_content .content:nth-child(3){

    top: 230px;    
}


.body .body_content .content:nth-child(4),
.body .body_content .content:nth-child(5) {
    top: 441px;
}

.body .body_content .content:nth-child(1),
.body .body_content .content:nth-child(4) {
    left:80px;
}

.body .body_content .content:nth-child(2),
.body .body_content .content:nth-child(5) {
    left:518px;
}

.body .body_content .content:nth-child(3) {
    left:953px;
}

.body .body_content .content img {
    padding:0 140px;
    }

.body .body_content .content p {
text-align: center;
padding: 17px;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #B9BCC7;
}

.watch_now {
        position: absolute;
        left: 1063px;
        top: 501px;
        font-family: Montserrat;
        font-size: 16px;
        color: #FEFFD3;
        
        background: #04162B;
        border-radius: 3px 30px 30px 3px;
        width: 188px;
        height: 61px;
        border: none;

}

.mask1 {
position: absolute;
width: 127.34px;
height: 38.62px;
left: 60.58px;
top: 701px;

}


.mask2 {
    position: absolute;
    width: 127.34px;
    height: 38.62px;
    right: 63px;
    top: 701px; 
}

.line2 {
    position: absolute;
    width: 1018.88px;
    height: 0px;
    left: 212.56px;
    top: 715px;
    opacity: 0.3;
    border: 1px solid #FEFFD3;
}