
.first-page {
    width: 1440px;
    height: 820px;
    background: url("../image/bg.png");
    background-size: 1443px calc(100% + 60px);
    
}

header .main_logo {
    position: absolute;
    top:39px;
    left:72px;
}

.block_menu {
    top: 60px;
    left: 298px;
    position: absolute;
    display: inline-block;
}

.menu li {
    display: inline;
    margin-left: 50px;
    color:white;

}

header .main_burger {
position: absolute;
right : 60px;
top: 44px;
}

header .line {
position: absolute;
width: 516px;
height: 0px;
left: 456px;
top: 0px; 
opacity: 0.3;
border: 1px solid #FEFFD3;
}

.body .S8E4 {
position: absolute;
left: 80px;
top: 144px;
color: #FEFFD3;
font-weight: bold;
font-size: 18px;
}


.body .Knight {
position: absolute;
left: 80px;
top: 184px;
font-size: 72px;
line-height: 84px;

color: #FEFFD3;
}

.body .Arryn {
position: absolute;
left: 80px;
top: 388px;

font-size: 16px;
line-height: 156.23%;
letter-spacing: 0.02em;

color: #B9BCC7;
}

.body .line2 {
    position: absolute;
    height: 535px;
    right: 60px;
    top: 125px;
    opacity: 0.3;
    border: 1px solid #FEFFD3;
}

.block_menu .menu a {
    text-decoration: none;
    color: #FFF8F8;
}


.button .syn {
position: absolute;
width: 74px;
height: 23px;
left: 141px;
top: 525px;
border: none;
font-family: Montserrat;
font-weight: 500;
font-size: 16px;
color: #FEFFD3;
background: transparent;
}

.button .watch {
position: absolute;
left: 299px;
top: 506px;
font-family: Montserrat;
font-size: 16px;
color: #FEFFD3;

background: #04162B;
border-radius: 3px 30px 30px 3px;
width: 148px;
height: 61px;
border: none;
}

.footer .pm {
position: absolute;
width: 84px;
height: 21px;
left: 80px;
bottom: 76px;

font-family: Montserrat;
font-size: 14px;
line-height: 150.19%;
color: #FEFFD3;
}

.footer .line3 {
position: absolute;
width: 1062px;
height: 0px;
left: 189px;
bottom: 76px;
opacity: 0.3;
border: 1px solid #FEFFD3;
}

.footer .mask {
position: absolute;
right:58px;
top:715px;
}